# Banco de dados
POSTGRES_DB=devdog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@db:5432/devdog

# API
API_BIND_PORT=3000
JWT_SECRET=dev_secret

# Frontend
WEB_BIND_PORT=5173
VITE_API_URL=http://localhost:3000

# Geral
NODE_ENV=development